body{
    margin: 0;
    font-family: sans-serif;
    background-image: url("imagenes/fondo.jpg");;
}
header{
    width: 100%;
    background-color: #4E94AB;
    opacity: 0.8;
}

#btn-menu{
    display: none;
}

header label{
    display: none;
    width: 30px;
    height: 55px;
    padding: 10px 0 0;
    border-right: 1px solid #fff;
    text-align: center;
}

header label:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.3);
}

.menu ul{
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    
}

#apuesta-1,#apuesta-2{
    -webkit-text-stroke: 2px black;
    color: #FFEBCD;
    text-align: center;
    font-family: 'Alfa Slab One', cursive;
    display: block;
    font-size: 25px;;
    background-color: white;
}
.menu li{
    text-align: center;
    flex-grow: 1;
}

.menu li:hover{
    background: rgba(0, 0, 0, 0.3);
}

#maquina-1,#maquina-2{
    border: 3px solid white;
    border-radius: 20px;;
}

.menu li a{
    display: block;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;
    color: lemonchiffon;
}

.nom-maquina{
    font-size: 20px;
}

nav ul li a i{
    padding-right: 10px;
}

#user{
    cursor: pointer;
}

#sonido{
    cursor: pointer;
}
h1{
    font-size: 1px;
    font-family: 'Alfa Slab One', cursive;
    color: lightyellow;
    background-color: #FF5733;
    text-align: center;
}

#usuario, #monedas, #num,#acum,#sonido{
    -webkit-text-stroke: 2px black;
    color: #FFEBCD;
    text-align: center;
    font-family: 'Alfa Slab One', cursive;
}

#usuario i, #monedas i{
    padding: 10px;;
}

#min-m1,#min-m2,#max-m1,#max-m2,#jugar,#jugar-2{
    width: 100%;
}

#jugar,#jugar-2,#min-m1,#min-m2,#max-m1,#max-m2{
    background-color: #FF5733;
    border: 1px solid white;
    font-family: 'Alfa Slab One', cursive;
}

#jugar:hover,#jugar-2:hover,#min-m1:hover,#min-m2:hover,#max-m1:hover,#max-m2:hover{
    background-color: #99341E
}

/*CSS PARA EL MODAL DE BIENVENIDA*/
#nombre-mb{
    width: 100%;
    text-align: center;
}

#btcomenzar-mb{
    width: 100%;

}

#titulo-mb{
    width: 100%;
    text-align: center;
}

#img-mb{
    width: 100%;
}

@media (max-width:768px){
    header label{
        display: block;
    }
    h1{
        background-color: aqua;
        font-family: sans-serif;
        font-size: 0.5em;
    }
    .menu{
        position: absolute;
        background: #4e94ab;
        width: 70%;
        margin-left: -70%;
        transition: all 0.5s;
    }
    
    .menu ul{
        flex-direction: column;
    }
    .menu li{
        border-top:1px solid #fff;
         text-align: left;
     }
     
     #btn-menu:checked ~ .menu{
         margin: 0;
        }
}